<ul>
  <% data.each do |key, value| %>

    <% if value.is_a?(Hash) %>

      <li>
        <strong><%= key %>:</strong>
      </li>
      <%= erb :_recursive_hash, locals: {data: value} %>

    <% elsif value.is_a?(Array) %>

      <li>
        <strong><%= key %>:</strong>
      </li>
      <ul>
        <% value.each do |item| %>
          <li><%= item.inspect %></li>
        <% end %>
      </ul>

    <% else %>

      <li>
        <strong><%= key %>:</strong> <%= value.inspect %>
      </li>

    <% end %>

  <% end %>
</ul>
