<h1>OAuth callback</h1>

<h3>Provider: <%= @authdata.provider %> / uid: <%= @authdata.uid %></h3>

<h4>Credentials</h4>
<%= erb :_recursive_hash, locals: {data: @authdata.credentials} %>

<h4>Info</h4>
<%= erb :_recursive_hash, locals: {data: @authdata.info} %>

<hr>

<h4>Everything in <code>env['omniauth.auth']</code></h4>
<%= erb :_recursive_hash, locals: {data: @authdata} %>
