<h1>OAuth callback</h1>

<h3>Provider: <%= @authdata.provider %> / uid: <%= @authdata.uid %></h3>

<h4>Credentials</h4>
<ul>
  <% @authdata.credentials.each do |key, value| %>
    <li>
      <strong><%= key %>:</strong> <%= value %>
    </li>
  <% end %>
</ul>

<h4>Additional data</h4>
<ul>
  <% @authdata.info.each do |key, value| %>
    <li>
      <strong><%= key %>:</strong> <%= value unless value.is_a?(Hash) %>
    </li>
    <% if value.is_a?(Hash) %>
      <ul>
        <% value.each do |subkey, subvalue| %>
          <li>
            <strong><%= subkey %>:</strong> <%= subvalue unless subvalue.is_a?(Hash) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>
