<input type="hidden" name="id" value="<%= tune.id %>">
<p>
  Title:
  <input type="text" name="title" value="<%= tune.title %>">
</p>
<p>
  Artist:
  <input type="text" name="artist" value="<%= tune.artist %>">
</p>
<p>
  URL:
  <input type="text" name="url" value="<%= tune.url %>">
</p>
<p>
  Description:
  <textarea name="comments"><%= tune.comments %></textarea>
</p>
<p>
  <input type="submit" value="GOGOGO!">
</p>
